if [ -z $DEV_SHELL_NAME ]; then
    use flake
else
    # running in CI
    use flake ".#${DEV_SHELL_NAME}"
fi
# # Install global npm packages to `.nix-node` and add bin to the path for cli tools
mkdir -p .nix-node
# install node modules to the nix-node folder
export NODE_PATH=$PWD/.nix-node
export NPM_CONFIG_PREFIX=$PWD/.nix-node
export PATH=$NODE_PATH/bin:$PATH
layout node